:root {
  --dark-blue: #2a254b;
  --light-blue: #726e8d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
*::selection {
  background-color: var(--dark-blue);
  color: white;
}
a,
ul,
li,
button,
input {
  text-decoration: none;
  background: none;
  list-style-type: none;
  outline: none;
  border: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

/* ======================== global  */
.nav {
  padding: 20px 28px;
}
.nav-content {
}
.nav-content__top {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}
.nav-search {
  align-content: center;
}
.nav-logo {
  /* font-family: Clash Display; */
  font-size: 24px;
  font-weight: 400;
  line-height: 29.52px;
  color: var(--dark-blue);
}
.nav-bascet {
  display: flex;
  align-items: center;
  gap: 16px;
}
.nav-content__bottom {
  padding-top: 20px;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 44px;
}
.nav-link {
  /* font-family: Satoshi; */
  font-size: 16px;
  font-weight: 400;
  line-height: 21.6px;
  cursor: pointer;
  color: var(--light-blue);
  transition: all 0.3s linear;
}
.nav-link:hover {
  color: var(--dark-blue);
}

.menu {
  display: none;
}
.nav-search-m {
  display: none;
}
@media screen and (max-width: 800px) {
  .nav {
    padding: 20px 24px;
  }
  .nav-links {
    gap: 20px;
  }
}
@media screen and (max-width: 650px) {
  .menu {
    display: block;
  }
  .nav-content__bottom {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .nav-search-m {
    display: block;
  }
  .nav-search {
    display: none;
  }
  .nav-shop {
    display: none;
  }
  .nav-user {
    display: none;
  }
}

/* ================================== hero */

.header {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 24px;
  padding-right: 24px;
}
.header-content {
  display: flex;
}
.header-left {
  background-color: var(--dark-blue);
  color: white;
  padding: 60px;
  flex: 3;
}
.header-right {
  flex: 2;
}

.header-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header-title {
  /* font-family: Clash Display; */
  font-size: 32px;
  font-weight: 400;
  line-height: 44.8px;
  max-width: 513px;
  padding-bottom: 41px;
}
.header-btn {
  background-color: #494565;
  padding: 16px 32px 16px 32px;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: white;
  cursor: pointer;
}
.header-btn:hover {
  background-color: #494565d0;
}
.header-text {
  max-width: 610px;
  padding-top: 196px;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.header-btn-m {
  display: none;
  width: 100%;
  text-align: center;
  margin-top: 32px;
}
@media screen and (max-width: 800px) {
  .header-right {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .header-btn {
    display: none;
  }
  .header-btn-m {
    display: block;
  }
  .header-text {
    padding-top: 80px;
  }
  .header {
    padding: 0;
  }
  .header-left {
    padding: 40px 24px;
  }
}

/* =============================== Brand section */

.brand {
  padding-top: 60px;
  padding-bottom: 80px;
}
.brand-title {
  /* font-family: Clash Display; */
  font-size: 24px;
  font-weight: 400;
  line-height: 33.6px;
  text-align: center;
  padding-bottom: 51px;
}
.brand-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.brand-card {
  max-width: 270px;
}
.brand-card__icon {
  padding-bottom: 16px;
}
.brand-cart__title {
  /* font-family: Clash Display; */
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 8px;
}
.brand-cart__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

@media screen and (max-width: 1350px) {
  .brand .container {
    padding: 0 24px;
  }
  .brand-card {
    padding-bottom: 36px;
  }
}
@media screen and (max-width: 600px) {
  .brand {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .brand-title {
    text-align: left;
  }
  .brand-card {
    max-width: 100%;
  }
}

/* =========== brand */
